* {
  margin: 0;
  padding: 0;
}

:root {
  color: #000;
  font-family: "Khula", sans-serif;
  font-size: 1.5em;
}

.container {
  display: flex;
}

hr {
  background-color: #000;
  border: none;
  color: #000;
  height: 3px;
  width: 15vw;
}

/*** Media Queries ***/
/* tablet */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  a {
    color: #000;
    font-size: smaller;
  }

  hr {
    margin: 0px auto 45px auto;
  }

  ul {
    padding-left: 60px;
  }

  .container {
    flex-direction: column;
  }

  .left-side-name-and-title {
    margin: 40px auto;
    text-align: center;
  }

  .name-first-letter {
    font-size: 2rem;
  }

  .name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: -20px;
    text-transform: uppercase;
  }

  .title-first-letter {
    font-size: 1.3rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .contact-info-section div:nth-child(1) {
    display: none;
  }

  .contact-info-section div:nth-child(2) {
    margin-top: -20px;
  }

  .contact-info-section {
    font-size: 1rem;
    line-height: 30px;
    padding: 0 40px;
  }

  .right-side-site-copy {
    border-top: none;
    font-size: 1rem;
    margin: -10px auto 40px auto;
    width: 70vw;
  }

  .right-side-site-copy div {
    margin-top: 25px;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  a {
    color: #000;
    font-size: smaller;
  }

  hr {
    margin: 0px auto 45px auto;
  }

  ul {
    padding-left: 40px;
  }

  .container {
    flex-direction: column;
  }

  .left-side-name-and-title {
    margin: 40px auto;
    text-align: center;
  }

  .name-first-letter {
    font-size: 2rem;
  }

  .name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: -20px;
    text-transform: uppercase;
  }

  .title-first-letter {
    font-size: 1.3rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .contact-info-section div:nth-child(1) {
    display: none;
  }

  .contact-info-section div:nth-child(2) {
    margin-top: -20px;
  }

  .contact-info-section {
    font-size: 1rem;
    line-height: 30px;
    padding: 0 40px;
  }

  .right-side-site-copy {
    border-top: none;
    font-size: 1rem;
    margin: -10px auto 40px auto;
    width: 70vw;
  }

  .right-side-site-copy div {
    margin-top: 25px;
  }
}